/* Estilos inputs e botões no formulário de criar utilizador */
.create-user-form input[type="email"],
.create-user-form input[type="text"],
.create-user-form input[type="password"],
.create-user-form input[type="number"],
.create-user-form select {
    width: 100%; /* Ajuste para não ficar esticado */
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}

.create-user-form input[type="email"]:focus,
.create-user-form input[type="text"]:focus,
.create-user-form input[type="password"]:focus,
.create-user-form input[type="number"]:focus {
    border: 2px solid #007BFF;
    outline: none;
    background-color: #ffffff;
}

.create-user-form .admin-button,
.create-user-form .clear-button {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 25px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.create-user-form .admin-button:hover,
.create-user-form .clear-button:hover,
.user-button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #0056b3;
    transition: color 0.3s ease;
}

h1:hover {
    color: #003d99;
}

.sucesso {
    color: green;
    margin-bottom: 15px;
}

.erro {
    color: red;
    margin-bottom: 15px;
}

/* Estilos para ícones */
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.icon-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
}

.icon-wrapper {
    text-align: center;
    margin: 40px 0;
}

.icon-wrapper .icon:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.icon-wrapper .icon {
    width: 100px;
    height: 100px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    cursor: pointer;
}

.icon-wrapper .icon-label {
    margin-top: 10px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #0056b3;
}

/* Ajuste do formulário */
.create-user-form {
    max-width: 600px;
    width: 100%;
    margin: auto;
    text-align: center;
}

/*alterar apagar utilizadores form */
.view-users-container {
    max-width: 600px;
    width: 100%;
    margin: auto;
    text-align: center; /* Centraliza o conteúdo */
}

.view-users-container h1 {
    margin-bottom: 20px;
}

.view-users-container .search-input {
    width: 100%; /* Ajuste para não ficar esticado */
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}

.view-users-container .search-input:focus {
    border: 2px solid #007BFF;
    outline: none;
    background-color: #ffffff;
}

.view-users-container ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin-top: 20px; /* Adicionado para espaçamento entre a pesquisa e a lista */
}

.view-users-container ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.view-users-container ul li:nth-child(even) {
    background-color: #f9f9f9;
}

.view-users-container .admin-button,
.view-users-container .delete-button {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 25px;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.view-users-container .admin-button {
    background-color: #007BFF;
}

.view-users-container .admin-button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Botão Alterar e exluir*/
.view-users-container .action-button {
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 25px;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.view-users-container .delete-button {
    background-color: #ff4d4d;
}

.view-users-container .delete-button:hover {
    background-color: #cc0000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.view-users-container .edit-button {
    background-color: #ffffff;
    color: #000;
    border: 2px solid #ffa500;
    margin-right: 10px;
}

.view-users-container .edit-button:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.view-users-container .delete-button {
    background-color: #ff4d4d;
}

.view-users-container .delete-button:hover {
    background-color: #cc0000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Botão Alterar */
.view-users-container .edit-button {
    background-color: #ffffff;
    color: #000;
    border: 2px solid #ffa500;
    margin-right: 10px;
}

.view-users-container .edit-button:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

ul{
    list-style-type: none;
    max-height: none;
}