/* Estilos inputs e botões */
.admin-page .admin-button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    cursor: pointer;
}

.admin-page .admin-button:hover {
    background-color: #0056b3;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.icon-wrapper {
    text-align: center;
    margin: 0 40px;
}

.icon-wrapper .icon {
    width: 100px;
    height: 100px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    cursor: pointer;
}

.icon-wrapper .icon-label {
    margin-top: 10px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #0056b3;
}