.container-manager {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.team-members {
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px;
    box-sizing: border-box;
}

.team-members h3 {
    margin-bottom: 10px;
}

.team-members ul {
    list-style-type: none;
    padding: 0;
}

.team-members li {
    padding: 5px 0;
}

.pending-events {
    width: 75%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.event-section {
    margin-bottom: 20px;
    margin-outside: #fff000;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}
.event-section:hover,
.event-section:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.event-section:hover {
    transform: translateY(-1px);
}

.event-section:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}
.expandable-title {
    cursor: pointer;
    margin: 0;
    font-size: 1.2em;
}

.pending-events-list {
    margin-top: 10px;
}

.event-card {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 10px;
}


.month-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.month-selector button {
    background: none;
    border: none;
    font-size: 2.9rem;
    cursor: pointer;
    margin: 0 10px;
    color: white;
    text-shadow: -2px -2px 0 #007bff, 2px -2px 0 #007bff, -2px 2px 0 #007bff, 2px 2px 0 #007bff, -2px 0 0 #007bff, 2px 0 0 #007bff, 0 -2px 0 #007bff, 0 2px 0 #007bff;
}

.month-selector button:hover {
    color: #007bff;
}

.month-selector span {
    font-size: 2.9em;
    font-weight: bold;
    color: #007bff;
}

.all-users-events {
    margin: 20px;
    width: 100%;
}

.events-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.events-table th, .events-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.events-table th {
    background-color: #f2f2f2;
    color: black;
}

.events-table td {
    height: 40px;
    width: 40px;
}

.events-table tr:hover {
    background-color: #f1f1f1;
}

/* Cores para os estados dos eventos */
.P-P {
    background-color: lightblue;
    color: #000;
}

.P {
    background-color: blue;
    color: #fff;
}

.F-P {
    background-color: lightgreen;
    color: #000;
}

.F {
    background-color: green;
    color: #fff;
}

.A-P {
    background-color: lightcoral;
    color: #000;
}

.A {
    background-color: orange;
    color: #fff;
}

.buttonAprovar{
    margin: 0 15px;
    margin-right: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: lightgreen;
    font-weight: bold;
}

.buttonRejeitar{
    margin: 0 15px;
    margin-right: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: lightcoral;
    font-weight: bold;
}