.main-container {
    text-align: center;
    padding: 1rem;
}

.NavbarColaborador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: #f0ffff;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.logo-container {

}

.navbar-logo img {
    width: auto;
    height: 50px;
    align-self: center;
}

.nav-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: 1rem;
}

.nav-link {
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: #007bff;
    text-transform: uppercase;
}

