
.welcome-section {
    text-align: center;
    margin-top: 2rem;
}

.welcome-image {
    max-width: 50%;
    height: auto;
    margin-top: 20px
}

.welcome-text {
    font-size: 2rem;
    color: #007bff;
    margin-top: 1rem;
}

.welcome-subtext {
    font-size: 1.5rem;
    color: #0056b3;
    margin-top: 0.5rem;
}
